<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 create an Uptask account
            if locals.messages
                .alertas
                  each category in Object.keys(locals.messages)
                    each message in messages[category]
                        .alerta(class=`${category}`)
                            p=message
                    // each err in errors
                    //     p.error.alerta=err.message
            form#formulario.caja.caja-login(method="POST" action='/create-account')
                .campo
                    label(for="email") Email
                    input(type="text" id="email" name="email" placeholder="Enter Email" value=email)
                .campo
                    label(for="password") Password
                    input(type="password" id="password" name="password" placeholder="Enter Password")
                .campo.enviar
                    input.boton(type="submit" placeholder="Create Account")
                .campo
                    a(href="/login") Do you already have an account?
    script(src='/dist/bundle.js')