extends layout

block contenido
    .contenido-principal
        h1= pageName

        if errors
            each error in errors
                 .alerta= error.message

        form.agregar-proyecto(action="/new-project" method="POST")
            .campo
                label(for="name") Project name:
                input(type="text" id="name" name="name" placeholder="Enter project name")
            .campo.enviar
                input(type="submit" value='add').boton