extends layout
include mixins/createProject

block contenido
    .contenido-principal
        h1= pageName
        pre=varDump(project)
        if errors
          each error in errors
              .alerta.error= error.message

        +createProject(project)